<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="userService" class="com_test.service.UserServiceImpl" >
        <constructor-arg index="0" ref="userRepo" /> <!--works with constructor-->
       <!-- <property name="userRepo" ref="userRepo1" /> work with set method @ UserServiceImpl-->
    </bean>
    <bean name="userRepo" class="com_test.repo.UserRepoImpl" />
    <!--<bean name="userRepo2" class="com_test.repo.UserRepoImpl2" />-->
    <!--<bean name="userService" autowire="byName" class="com_test.service.UserServiceImpl" />-->
</beans>