<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean name="userService" class="com_test.service.UserServiceImpl" >
        <property name="userRepo" ref="userRepo" />
    </bean>-->
    <bean name="connection" class="com.connection.ConnectionImpl" />
    <bean name="mySQLConnectionManager" autowire="byType" class="com.connection_manager.MySQLConnectionManager" />
    <bean name="oracleDBConnectionManager" autowire="byType" class="com.connection_manager.OracleDBConnectionManager" />
</beans>